files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;
          
          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;
          
          ssl_session_timeout  5m;
          
          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          #if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          #    set $year $1;
          #    set $month $2;
          #    set $day $3;
          #    set $hour $4;
          #}
          #access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          #access_log  /var/log/nginx/access.log  main;
          
          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
        -----BEGIN CERTIFICATE-----
        MIIDyTCCArECFCvFEIwbI7Xl4UIG9VyMMIHyucM3MA0GCSqGSIb3DQEBCwUAMIGg
        MQswCQYDVQQGEwJVUzERMA8GA1UECAwITWlzc291cmkxETAPBgNVBAcMCFN0IExv
        dWlzMQ4wDAYDVQQKDAVXYXNoVTEMMAoGA1UECwwDQ1NFMSgwJgYDVQQDDB9tYWlu
        LS00MzdvaHByb2plY3QubmV0bGlmeS5hcHAvMSMwIQYJKoZIhvcNAQkBFhRwLnZp
        Y3RvcmlhQHd1c3RsLmVkdTAeFw0yNDAyMjYxODMyNDZaFw0yNTAyMjUxODMyNDZa
        MIGgMQswCQYDVQQGEwJVUzERMA8GA1UECAwITWlzc291cmkxETAPBgNVBAcMCFN0
        IExvdWlzMQ4wDAYDVQQKDAVXYXNoVTEMMAoGA1UECwwDQ1NFMSgwJgYDVQQDDB9t
        YWluLS00MzdvaHByb2plY3QubmV0bGlmeS5hcHAvMSMwIQYJKoZIhvcNAQkBFhRw
        LnZpY3RvcmlhQHd1c3RsLmVkdTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoC
        ggEBAMbuaKhsHEyW7z83uMkUNUnUA8i8FEmPY46l1aqxbFzJbsve/XTPXm1nEoXT
        hCwvOnMu4G0vJAuT2x4R0YwH2IEhJ4ESzYFnj75af9Cu6+fO+djFTVOr5ZHd/fcY
        qW1/h9Ix+E2MKkmcwuE4afa2ETHbAj+BnjZz+o9uoxbh11vqm7jItnIM5B7N3Man
        OCPne1Nl6eAFCzgyXk4puY69Xz1PmZA3IeRH+2Vlr+I0U8c3sGPd4kdjKeNhaQTU
        RDe63SesWqHC6naoCTQvl+t2vtfEmZfLIuX5K6o2AVIsTRGypPV6lDSC/dM4I1+2
        0gEZox5dPPpJtZLIvfcZvNfl6sMCAwEAATANBgkqhkiG9w0BAQsFAAOCAQEAQGYQ
        vkcUrjlo2lrSvyIg836sIZuDkZB7tqlQUpYkicgOl/AF10d5AJh0JuQ9T9vLY3QP
        eUhuFbq7pjtc0MtIvDQDTzRrvLtNuBhAkKtibKR3EkU0g0Ha8M68/bctogmFjGWU
        NS98YCxWUDXRIwhKj/WDisvnTDBgPNJBl2MXrEZbzxPnWV+R1oi/2YRlhwGRVykc
        FEuKKAAdya8TF4BQPRf2S+lVpw0PbJvm7xAZIa3g5KFKCd13wsF32gzTuVBLXMbT
        VmtbkkPuTn0GffXJPl+VxMqIURS1nW6v8TKTae9ko4p8C2MUTVBVfPsCOsgG9JQG
        YNUuqRMHa9Vi4PFPiA==
        -----END CERTIFICATE-----

      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
        -----BEGIN RSA PRIVATE KEY-----
        MIIEowIBAAKCAQEAxu5oqGwcTJbvPze4yRQ1SdQDyLwUSY9jjqXVqrFsXMluy979
        dM9ebWcShdOELC86cy7gbS8kC5PbHhHRjAfYgSEngRLNgWePvlp/0K7r58752MVN
        U6vlkd399xipbX+H0jH4TYwqSZzC4Thp9rYRMdsCP4GeNnP6j26jFuHXW+qbuMi2
        cgzkHs3cxqc4I+d7U2Xp4AULODJeTim5jr1fPU+ZkDch5Ef7ZWWv4jRTxzewY93i
        R2Mp42FpBNREN7rdJ6xaocLqdqgJNC+X63a+18SZl8si5fkrqjYBUixNEbKk9XqU
        NIL90zgjX7bSARmjHl08+km1ksi99xm81+XqwwIDAQABAoIBAECbBNpN4hLtod2C
        Fz0WlwfXFzOGAYCyVL7rFK1O2cZ4lMcZMG9TOXOGWfmka/R9khn+S1yqRqaL6kml
        t8wmcCXfwpikpqE0JPbJJWF8rZinG3VO/oIB/ZiV4/jvxXaOSGn3WJC2yLUHeDL0
        w1UgZA0w91XwnpVIrUMPx1+TEQIEaMd7iBUrbQDmlWKODm4ndPnjT6zMezmAwQw1
        VOSpb72CkIYzLWjp2sywAopIMlkcFI6JUSMo28JjeG9NL2TdHtxjx4W9fEbgNtGf
        BAu0HgOpp5siagDXekvhdjT9yuY7lFhXYKGmcDTL4O4arnb0PmOMEXp7bb/PXKD4
        RhF2YMECgYEA6kxrQhfYzLz4QX+6NFUMwp2td+TXTmmiDwPXQdA+5HSb4isfvI8R
        gELmcLcQ3FklnJMv7NLdDj4+0Y7Szdtx1S012NE8KUUZnH76HAJRoSeYahkWjBSW
        0bARjPBdfgBgf9CyeR2ck4iPG3KYKDtVaBozeJToZpdQrYK8q+OQwFsCgYEA2Vtg
        x4c91O/Ef+NXnhkp4AAlKGrwcYl56EXFZG1yWcrW3Hq+u0Irazo68CRrDGoxSBSj
        YNVxrHgQa3Q0w78yIi5Li3d11+XSxTXibIfQXxLy8SIddT7FeJVmfHu9ZNZzdIc4
        e2VVJR3qcQaG9idNt2Lpq68r/5ueNhLUx1LFC7kCgYEA1svsYRFfroNnzRR97tAx
        /JF1oL7pLHfnHIDW7P0vS14kMvp6A/Hdh4rNnHQYPwpzUtIVU7YU9qPWD2Qymose
        FuN1xCo+T0+MJU67mMX/dBDKyCnr48xUYDRcQqtx6rwJu+PmWubszsyY9f7ew7Nx
        nxi2K0vIq5T5X7jFo4fjApUCgYA17ICnH7tMT6u9WqaLF40XAJI3Y8iBMm0nHeAp
        2SlMc5E4o88b3/+rm4exuidArjvJuS0LQgjwk9zm+653fcCvUDL3x8xZoq/Ws1aY
        PF2KqMXS4vbR9p/BGbeSXJSRJs7/8uglXO9xxOk73zWubfPO8mAscsoEoRPwMF3P
        kY5HKQKBgBzxtuIBDMN+geqcM3G8mcndaxFWtbF9l/Gl+/ywRav4XYcD32EiNMcM
        c8KIx5+SKyRMNl5wG+u3KI4pyf6KMedzhf0DFje7SJEPyyNynvhiSqCwxzcdkAtJ
        SmShwGACmtikG+TSG5TjYfVVDKdk3vUpMtPSIcQ5I5h+PlsM0dBC
        -----END RSA PRIVATE KEY-----
